body {
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white !important;
    width: 100vw;
    height: fit-content;
    overflow-x: hidden;
}
html {
    background-color: #333;
}
