.container {
    width: 100%;
    border: 1px solid white;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
}
.username {
}
.content {
    font-size: 1.1rem;
}
.like,
.dislike {
    padding-right: 0.5rem;
}
