.meme {
    width: 400px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 1rem;
    width: 100%;
}

.actions-container {
    display: grid;
    grid-template-columns: 30% 70%;
}
.padding {
    padding-right: 1rem;
}
@mixin labels {
    position: absolute;
    font-size: 0.8rem;
}
.comments-label {
    margin-left: 9.3rem;
    @include labels();
}
.likes-label {
    @include labels();
    margin-left: 1.2rem;
}
.dislikes-label {
    @include labels();
    margin-left: 3.2rem;
}
.comment-icon {
    padding-left: 0.5rem;
}
.action {
    &:hover {
        cursor: pointer;
    }
}
