@import "../../assets/scss/variables";
.meme {
    width: 400px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 1rem;
    width: 100%;
}

.actions-container {
    display: grid;
    grid-template-columns: 30% 70%;
}
.padding {
    padding-right: 1rem;
}
.comments-label {
    margin-left: 9.3rem;
}
.likes-label {
    margin-left: 1.2rem;
}
.dislikes-label {
    margin-left: 3.2rem;
}
.label {
    font-size: 0.8rem;
    padding-right: 0.5rem;
    display: inline;
}
.comment-icon {
    padding-left: 0.5rem;
}
.action {
    &:hover {
        cursor: pointer;
    }
}
.date {
    font-size: 0.8rem;
    color: $mutedTheme;
}
.user {
    display: flex;
}
